# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

.github/workflows/              @immutable/prodsec @immutable/rollups
.github/actions/                @immutable/prodsec @immutable/rollups
*                               @immutable/rollups
